<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Batch2MiniProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <filter>
		<filter-name>struts2</filter-name>			
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

  <!-- THIS IS ALL ABOUT THE MINI PROJECT NAVIGATION ONLYYYYYYYYYYYYYY
  
  *****************************************************************
  Student Navigation
  <servlet>
  <description>This servlet is directed to student menu html</description>
  <display-name>StudentMenu</display-name>
  <servlet-name>StudentMenuServlet</servlet-name>
  <servlet-class>com.miniproject.navigation.StudentMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StudentMenuServlet</servlet-name>
  <url-pattern>/html_project/studentMenu</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>This servlet retrieves the list of all the students in the database </description>
  <display-name>GetAllStudents</display-name>
  <servlet-name>GetAllStudents</servlet-name>
  <servlet-class>com.navigation.student.GetAllStudents</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>GetAllStudents</servlet-name>
  <url-pattern>/html_project/getAllStudentDetails</url-pattern>
  </servlet-mapping>
  *****************************************************************
  <servlet>
  <servlet-name>ParentMenuServlet</servlet-name>
  <servlet-class>com.miniproject.navigation.ParentMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ParentMenuServlet</servlet-name>
  <url-pattern>/html_project/parentMenu</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BranchMenuServlet</servlet-name>
  <servlet-class>com.miniproject.navigation.BranchMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchMenuServlet</servlet-name>
  <url-pattern>/html_project/branchMenu</url-pattern>
  </servlet-mapping>
  GET ALL BRANCHES 
  <servlet>
  <servlet-name>BranchListServlet</servlet-name>
  <servlet-class>com.navigation.branch.AllBranchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchListServlet</servlet-name>
  <url-pattern>/html_project/getAllBranches</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BranchListJSP</servlet-name>
  <jsp-file>/jsp_project/getAllBranches.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchListJSP</servlet-name>
  <url-pattern>/jsp_project/getAllBranches.jsp</url-pattern>
  </servlet-mapping>
  GET BRANCH BY ID 
  
  <servlet>
  <servlet-name>getBranchByIdOne</servlet-name>
  <jsp-file>/jsp_project/getBranchById.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>getBranchByIdOne</servlet-name>
  <url-pattern>/html_project/getBranchById</url-pattern>
  </servlet-mapping>
      
  <servlet>
  <servlet-name>getBranchByIdServlet</servlet-name>
  <servlet-class>com.navigation.branch.GetBranchById</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>getBranchByIdServlet</servlet-name>
  <url-pattern>/html_project/BranchById</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>getBranchByIdDisp</servlet-name>
  <jsp-file>/jsp_project/getBranchByIdDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>getBranchByIdDisp</servlet-name>
  <url-pattern>/jsp_project/getBranchByIdDisplay.jsp</url-pattern>
  </servlet-mapping>
  
  UPDATE BRANCH 
  
  <servlet>
  <servlet-name>updateBranchJSP</servlet-name>
  <jsp-file>/jsp_project/updateBranch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>updateBranchJSP</servlet-name>
  <url-pattern>/html_project/updateBranch</url-pattern>
  </servlet-mapping>
      
  <servlet>
  <servlet-name>UpdBranchServlet</servlet-name>
  <servlet-class>com.navigation.branch.UpdateBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdBranchServlet</servlet-name>
  <url-pattern>/html_project/branchUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>UpdBranchDisp</servlet-name>
  <jsp-file>/jsp_project/updateBranchDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdBranchDisp</servlet-name>
  <url-pattern>/jsp_project/updateBranchDisplay.jsp</url-pattern>
  </servlet-mapping>
  
  INSERT BRANCH 
  
   <servlet>
  <servlet-name>insertBranchJSP</servlet-name>
  <jsp-file>/jsp_project/insertBranch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>insertBranchJSP</servlet-name>
  <url-pattern>/html_project/insertBranch</url-pattern>
  </servlet-mapping>
      
  <servlet>
  <servlet-name>InsBranchServlet</servlet-name>
  <servlet-class>com.navigation.branch.InsertBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>InsBranchServlet</servlet-name>
  <url-pattern>/html_project/branchInsert</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>InsBranchDisp</servlet-name>
  <jsp-file>/jsp_project/insertBranchDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>InsBranchDisp</servlet-name>
  <url-pattern>/jsp_project/insertBranchDisplay.jsp</url-pattern>
  </servlet-mapping>
  
  DELETE BRANCH 
  
   <servlet>
  <servlet-name>delBranchJSP</servlet-name>
  <jsp-file>/jsp_project/deleteBranch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>delBranchJSP</servlet-name>
  <url-pattern>/html_project/deleteBranch</url-pattern>
  </servlet-mapping>
      
  <servlet>
  <servlet-name>delBranchServlet</servlet-name>
  <servlet-class>com.navigation.branch.DeleteBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>delBranchServlet</servlet-name>
  <url-pattern>/html_project/BranchDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DelBranchDisp</servlet-name>
  <jsp-file>/jsp_project/deleteBranchDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>DelBranchDisp</servlet-name>
  <url-pattern>/jsp_project/deleteBranchDisplay.jsp</url-pattern>
  </servlet-mapping>
  THIS IS ALL ABOUT THE MINI PROJECT NAVIGATION ONLYYYYYYYYYYYYYY -->
</web-app>