<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
		   				http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<context:annotation-config />
		
	<aop:aspectj-autoproxy/>

	<bean id="aoptest.service" class="com.spring.aop.sample.SpringAOPService" >
		<property name="studentBean" ref="student.bean"></property>
	</bean>

	<!-- Definition for logging aspect -->
	<bean id="logging" class="com.spring.aop.sample.Logging" />
	
	<!-- Definition for Annotation based logging aspect  -->
	<bean id="logging.annotation" class="com.spring.aop.sample.LoggingAnnotationBased" />
	
	

	<aop:config>
		<aop:aspect id="log" ref="logging">
			<!-- 
			<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.sample.*.*(..))"/> 
			<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.sample.SpringAOPService.*(..))" />
			<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.sample.SpringAOPService.startProcess(..))" /> 
			-->
			<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.sample.SpringAOPService.*(..))" />
			<!-- 
			<aop:before pointcut-ref="serviceCall" method="beforeAdvice"/>
			<aop:after pointcut-ref="serviceCall" method="afterAdvice" />
			<aop:around pointcut-ref="serviceCall" method="aroundMethod" />			 
			<aop:after-returning pointcut-ref="serviceCall" returning="retVal" method="afterReturningAdvice"/> 
			<aop:after-throwing pointcut-ref="serviceCall" throwing="ex" method="AfterThrowingAdvice"/> 
			-->
		</aop:aspect>
	</aop:config>
	


	<bean id="student.bean" class="com.spring.aop.sample.StudentBean">
		<property name="id" value="101" />
		<property name="name" value="Raghu" />
		<property name="age" value="15" />
		<property name="dob">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2014-07-31" />
			</bean>
		</property>
	</bean>
	<!-- Date related bean -->
	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

</beans>	