<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bt3advjava</display-name>
  <welcome-file-list>
    <welcome-file>html/HelloWorld.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description> This is sample servlet to test</description>
  	<display-name>Sample</display-name>
  	<servlet-name>SampleTest</servlet-name>
  	<servlet-class>servlets.sample.Sample</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SampleTest</servlet-name>
  	<url-pattern>/sample</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<description> This is sample servlet to test</description>
  	<display-name>form</display-name>
  	<servlet-name>FormServlet</servlet-name>
  	<servlet-class>servlets.sample.FormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>FormServlet</servlet-name>
  	<url-pattern>/html/formAction</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description> This is to get Header values test</description>
  	<display-name>header</display-name>
  	<servlet-name>HeaderServlet</servlet-name>
  	<servlet-class>servlets.sample.HeaderValuesServlet</servlet-class>
  </servlet>
  
  
    <servlet-mapping>
  	<servlet-name>HeaderServlet</servlet-name>
  	<url-pattern>/html/header</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description> This is to get Radio button values</description>
  	<display-name>radio</display-name>
  	<servlet-name>RadioButtonServlet</servlet-name>
  	<servlet-class>servlets.sample.RadioButtonServlet</servlet-class>
  </servlet>
  
  
    <servlet-mapping>
  	<servlet-name>RadioButtonServlet</servlet-name>
  	<url-pattern>/html/RadioAction</url-pattern>
  </servlet-mapping>
  <!--  -->
  <servlet>
  	<description> Login Action Servlet</description>
  	<display-name>login</display-name>
  	<servlet-name>LoginActionServlet</servlet-name>
  	<servlet-class>servlets.requestDispatcher.ReqDispatcherLogiEx</servlet-class>
  </servlet>
  
  
    <servlet-mapping>
  	<servlet-name>LoginActionServlet</servlet-name>
  	<url-pattern>/html/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description> Welcome Action Servlet</description>
  	<display-name>welcome</display-name>
  	<servlet-name>WelComeActionServlet</servlet-name>
  	<servlet-class>servlets.requestDispatcher.WelComeServlet</servlet-class>
  </servlet>
  
  
    <servlet-mapping>
  	<servlet-name>WelComeActionServlet</servlet-name>
  	<url-pattern>/html/welcome</url-pattern>
  </servlet-mapping>

 <servlet>
  	<description> This servlet is to check the option of redirecting</description>
  	<display-name>redirecting</display-name>
  	<servlet-name>RedirectServlet</servlet-name>
  	<servlet-class>servlets.requestDispatcher.ServletRedirect</servlet-class>
  	<init-param>
  		<param-name>ImagePath</param-name>
  		<param-value>/usr/local/images/temp.png</param-value>
  	</init-param>
  </servlet>
  
  
    <servlet-mapping>
  	<servlet-name>RedirectServlet</servlet-name>
  	<url-pattern>/html/redirect</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<description> This is to read all form values, especially radio.</description>
  	<display-name>radio</display-name>
  	<servlet-name>RadioTest</servlet-name>
  	<servlet-class>servlets.sample.RadioButtonEx</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RadioTest</servlet-name>
  	<url-pattern>/html/radioRead</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet Config example -->
   <servlet>
  	<description> This servlet is to check servlet Config Example</description>
  	<display-name>servletConfig</display-name>
  	<servlet-name>ServletConfigExample</servlet-name>
  	<servlet-class>servlets.configContext.ServletConfigExample</servlet-class>
  	<init-param>
  		<param-name>ImagePath</param-name>
  		<param-value>/usr/local/images/temp.png</param-value>
  	</init-param>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>ServletConfigExample</servlet-name>
  	<url-pattern>/servletConfig</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description> This servlet is to check servlet Context Example</description>
  	<display-name>servletContext</display-name>
  	<servlet-name>servletContextExample</servlet-name>
  	<servlet-class>servlets.configContext.ServletContextExample</servlet-class>
  </servlet>
  

  <servlet-mapping>
  	<servlet-name>servletContextExample</servlet-name>
  	<url-pattern>/servletContext</url-pattern>
  </servlet-mapping>
  
  
    <!--  Attribute usage and its example -->
    <servlet>
  	<description> This servlet is to check Attribute usage</description>
  	<display-name>servletAttribute</display-name>
  	<servlet-name>ServletAttributeEx</servlet-name>
  	<servlet-class>servlet.attributes.AttributesExample</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletAttributeEx</servlet-name>
  	<url-pattern>/html/loginAttr</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description> This servlet is to check Attribute usage in Dash Board</description>
  	<display-name>servletDashBoard</display-name>
  	<servlet-name>ServletDashBoardEx</servlet-name>
  	<servlet-class>servlet.attributes.DashBoard</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletDashBoardEx</servlet-name>
  	<url-pattern>/html/dashboard</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  	<description>Data base credentials</description>
  	<param-name>username</param-name>
	<param-value>admin</param-value>  
  </context-param>
</web-app>