<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="employeeDisplay" class="com.spring.sample.EmployeeDisplay">
		<property name="emp1" ref="employee1"/>
		<property name="emp2" ref="employee2"/>
	</bean>
	
	
	<bean id="employee1" class="com.spring.sample.Employee">
		<property name="id" value="10"/>
		<property name="name" value="RajeshReddy"/>
		<property name="age" value="30"/>
	</bean>
   
    <bean id="employee2" class="com.spring.sample.Employee">
    	<constructor-arg name="id" value="20"/>
    	<constructor-arg name="name" value="Raghu Kumar"/>
		<constructor-arg name="age" value="31"/>
    </bean>
</beans>