<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
		   				http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<bean id="aoptest.service" class="com.spring.aop.normal.SpringAOPService" >
		<property name="studentBean" ref="student.bean"/>
	</bean>
	
	<bean id="student.bean" class="com.spring.aop.normal.StudentBean">
		<property name="id" value="101" />
		<property name="name" value="Raghu" />
		<property name="age" value="15" />
		<property name="dob">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2014-07-31" />
			</bean>
		</property>
	</bean>
	<!-- Date related bean -->
	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>
	
	
	
	<!-- Definition for logging aspect -->
	<bean id="logging" class="com.spring.aop.normal.Logging" />
	
	<aop:config>
		<aop:aspect id="log" ref="logging">
	
			<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.normal.SpringAOPService.*(..))" />
			
			<aop:pointcut id="serviceCallMethod" expression="execution(* com.spring.aop.normal.SpringAOPService.startProcess(..))" /> 		
		
			<aop:after-throwing pointcut-ref="serviceCallMethod" throwing="ex" method="AfterThrowingAdvice"/> 
			
			<!-- 
				<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.normal.*.*(..))"/> 
				<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.normal.SpringAOPService.*(..))" />
				<aop:pointcut id="serviceCall" expression="execution(* com.spring.aop.normal.SpringAOPService.startProcess(..))" /> 
			-->
			<!-- 
				<aop:before pointcut-ref="serviceCall" method="beforeAdvice" />
				<aop:before pointcut-ref="serviceCall" method="afterAdvice" />
				<aop:around pointcut-ref="serviceCall" method="aroundMethod" />				 
				<aop:after-returning pointcut-ref="serviceCall" returning="retVal" method="afterReturningAdvice"/> 
				<aop:after-throwing pointcut-ref="serviceCall" throwing="ex" method="AfterThrowingAdvice"/> 
			-->
		</aop:aspect>
	</aop:config>
	



</beans>	