<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context" >
		

	 
	<bean id="annotation.service" class="com.spring.annotations.SpringAnnotationService">
		<property name="studentBean" ref="student1.bean"/>
	</bean>
	
	<context:component-scan base-package="com.spring.annotations" />
	 
	<!-- <bean id="student1.bean" class="com.spring.annotations.StudentBean" name="studentBean"> -->
	<bean id="student1.bean" class="com.spring.annotations.StudentBean"> 
		<property name="id" 	value="101"/>
		<property name="name" 	value="Raghu"/>
		<property name="age" 	value="15"/>
		<property name="dob">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2014-07-31" />
			</bean>
		</property>
	</bean>
	
	<bean id="student2.bean" class="com.spring.annotations.StudentBean">
		<qualifier value="sasibean"/>
		<property name="id" 	value="102"/>
		<property name="name" 	value="SasiKanth"/>
		<property name="age" 	value="20"/>
		<property name="dob">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2000-02-31" />
			</bean>
		</property>
	</bean>
	
	<!--  Date related bean -->
	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>
	
	<!-- 	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
		 -->	
	<context:annotation-config/>
		 
</beans>	
