<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

			
			<bean id="sample.abstart" class ="com.spring.beans.GenericEmployee" abstract="true">
				<property name="name" value="JAVA world"/>
			</bean>
			
			<bean id="vehile.service" class="com.spring.beantest.VehicleService" scope="prototype" parent="sample.abstart">				 
				<property name="companyName" value="Castro Service Center"/>
				<property name="value" value="10"/>
				<property name="valid" value="true" />
				<!-- <property name="vehicle1" ref="vehicle1.bean"/> -->
			</bean>
			
						<!-- byName, byType, constructor, default --> 
			<bean id="vehicle1.bean" class="com.spring.beans.FourWheeler"> 
				<constructor-arg index="0" value="CAR"/>
				<constructor-arg index="1" value="Maruti"/>
				<qualifier value="fourwheeler"/>
			</bean>
			
			<bean id="vehicle4.bean" class="com.spring.beans.FourWheeler"> 
				<constructor-arg index="0" value="BUS"/>
				<constructor-arg index="1" value="VOLVO"/>
				<qualifier value="fourwheelerHeavy"/>
			</bean>
			
			<bean id="vehicle2.bean" class="com.spring.beans.TwoWheeler" > 
				<constructor-arg index="0" value="Bike"/>
				<constructor-arg index="1" value="Yamaha"/>
			</bean>
			
			<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
			<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
			
			
			
		
			
</beans>			