<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
			
			<bean id="sample.abstart" class ="com.spring.beans.GenericEmployee" abstract="true">
				<property name="name" value="JAVA world"/>
			</bean>
			
			<bean id="vehile.service" class="com.spring.beantest.VehicleService"  autowire="byType" scope="prototype" parent="sample.abstart">				 
				<property name="companyName" value="Castro Service Center"/>
				<property name="value" value="10"/>
				<property name="valid" value="true" />
				<!-- <property name="vehicle1" ref="vehicle1.bean"/> -->
					
				
			</bean>
			
			<alias  name="vehile.service" alias ="vehile-PetName1"/>
			<alias  name="vehile.service" alias ="vehile-PetName2"/>
 
			<!-- byName, byType, constructor, default
			<bean id="vehicle1.bean" class="com.spring.beans.FourWheeler" name="vehicle1"> 
				<constructor-arg index="0" value="CAR"/>
				<constructor-arg index="1" value="Maruti"/>
			</bean>
	 -->
			<bean id="vehicle2.bean" class="com.spring.beans.TwoWheeler" init-method="initMethod" destroy-method="destMethod" name="vehicle2">
				<constructor-arg index="0" value="bike"/>
				<constructor-arg index="1" value="Yamaha"/>
			</bean>
		
			
</beans>			