<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
			
			<bean id="vehile.service" class="com.spring.beantest.VehicleService" scope="">
				<!-- 
				<property name="companyName" value="Castro Service Center"/>
				<property name="value" value="10"/>
				<property name="valid" value="true"/>
				 -->
				<constructor-arg  type="java.lang.String" value="Castro Service Center" />
				<constructor-arg index="1" value="10"/>
				<constructor-arg index="2" value="true"/>
			</bean>
</beans>			