<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Batch2MiniProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This servlet is for student sub menu</description>
    <display-name>studentSubMenu</display-name>
    <servlet-name>studentSubMenu</servlet-name>
    <servlet-class>com.subMenu.studentSubMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentSubMenu</servlet-name>
    <url-pattern>/html/student_submenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainMenu</display-name>
    <servlet-name>MainMenu</servlet-name>
    <servlet-class>com.subMenu.MainMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenu</servlet-name>
    <url-pattern>/html/main_menu.html</url-pattern>
  </servlet-mapping>
  
  <!-- THIS IS ALL ABOUT THE MINI PROJECT NAVIGATION ONLYYYYYYYYYYYYYY -->
  <servlet>
  <servlet-name>StudentMenuServlet</servlet-name>
  <servlet-class>com.miniproject.navigation.StudentMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StudentMenuServlet</servlet-name>
  <url-pattern>/html_project/studentMenu</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ParentMenuServlet</servlet-name>
  <servlet-class>com.miniproject.navigation.ParentMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ParentMenuServlet</servlet-name>
  <url-pattern>/html_project/parentMenu</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BranchMenuServlet</servlet-name>
  <servlet-class>com.miniproject.navigation.BranchMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchMenuServlet</servlet-name>
  <url-pattern>/html_project/branchMenu</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BranchListServlet</servlet-name>
  <servlet-class>com.navigation.branch.AllBranchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchListServlet</servlet-name>
  <url-pattern>/html_project/getAllBranches</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BranchListJSP</servlet-name>
  <jsp-file>/jsp_project/getAllBranches.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchListJSP</servlet-name>
  <url-pattern>/jsp_project/getAllBranches.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>getBranchById</servlet-name>
  <jsp-file>/jsp_project/getBranchById.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>getBranchById</servlet-name>
  <url-pattern>/html_project/getBranchById</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BranchById</servlet-name>
  <jsp-file>com.navigation.branch.GetBranchById</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>BranchById</servlet-name>
  <url-pattern>/jsp_project/BranchById</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ParentJSP</servlet-name>
  <jsp-file>/jsp_project/parent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>ParentJSP</servlet-name>
  <url-pattern>/html_project/getAllParentDetails</url-pattern>
  </servlet-mapping>
  
  <!-- THIS IS ALL ABOUT THE MINI PROJECT NAVIGATION ONLYYYYYYYYYYYYYY -->
</web-app>